 <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Название</span>
                <input type="text" class="form-control" placeholder="Что купили?" aria-describedby="basic-addon1" ng-model="cashier.name">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Цена</span>
                <input type="text" class="form-control" placeholder="Сколько стоило?" aria-describedby="basic-addon1" ng-model="cashier.price">
            </div>
            <br>
            <select class="form-control" style="width: 100%" ng-model="cashier.category">\
                <option value="" selected>--Выберите категорию--</option>
                <option ng-repeat="category in cashier.categories" value="{{ category.name }}">{{ category.name }}</option>
            </select>
            <br>
            <button class="btn btn-info" style="width: 100%" ng-click="cashier.addItem(); count()">Добавить!</button>
            <button class="btn btn-danger" style="width: 49.1%; margin-top: 10px" ng-click="cashier.isShowed=true">Показать</button>
            <button class="btn btn-danger" style="width: 49.1%; margin-top: 10px" ng-click="cashier.isShowed=false">Спрятать</button>
        </div>
        <div class="panel-body" ng-show="cashier.isShowed">
            <ul class="list-group">
                <spending-item ng-repeat="item in cashier.spendingItems | reverse"></spending-item>
            </ul>
        </div>
    </div>