<div class="panel panel-default">
    <div class="panel-heading">
        <h4>К {{ cashier.now.toLocaleDateString() }} потрачено {{ cashier.total }} рублей
            <small class="pull-right hidden-xs hidden-sm">Сумма на месяц: {{ cashier.monthMoney }}</small>
        </h4>
    </div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ cashier.percentage() }}"
                 aria-valuemin="0" aria-valuemax="100" style="width: {{ cashier.percentage() }}%">
                {{ cashier.totalPrice() }}
            </div>
            <p class="text-center">{{ cashier.monthMoney - cashier.totalPrice() }}</p>
        </div>
        <div class="page-header">
            <button class="btn btn-info" style="width: 49%" ng-click="cashier.fullStatistics=true">Подробнее</button>
            <button class="btn btn-warning" style="width: 49%" ng-click="cashier.fullStatistics=false">Скрыть</button>
        </div>
        <ul class="list-group" ng-show="cashier.fullStatistics">
            <li class="list-group-item list-group-item-success">Еда: {{ cashier.countCat('Еда') }}</li>
            <li class="list-group-item list-group-item-info">Проезды: {{ cashier.countCat('Проезды') }}</li>
            <li class="list-group-item list-group-item-warning">Алкоголь: {{ cashier.countCat('Алкоголь') }}</li>
            <li class="list-group-item list-group-item-success">Электроника: {{ cashier.countCat('Электроника') }}</li>
            <li class="list-group-item list-group-item-info">Мебель: {{ cashier.countCat('Мебель') }}</li>
            <li class="list-group-item list-group-item-warning">Посуда: {{ cashier.countCat('Посуда') }}</li>
        </ul>
        <div class="days hidden-xs hidden-sm">
            <ul class="nav nav-tabs">
                <li class="active"><a href="">{{cashier.now.toLocaleDateString() }}</a></li>
                <li ng-repeat="date in cashier.dates" ng-click="cashier.date=date"><a href="">{{ date.toLocaleDateString() }}</a></li>
            </ul>

                <div class="well" style="margin-top: 10px">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in cashier.getItems(cashier.now)">{{item.name}}: {{ item.price }}</li>
                    </ul>
                </div>
        </div>
    </div>
</div>